a#%% md
# Summary of Demos and Exercises

## Demo 1: Create Normalized Tables
Bắt đầu bằng table `music_library`

<img src="images/table1.png" width=700>

### 1. Moving to 1NF
Ta tách các lists ra các rows riêng, tạo ra table `music_library2`

<img src="images/table2.png" width=700>

### 2. Moving to 2NF
PK ko là unique, ta tách ra 2 tables `album_library` và `song_library`.

<img src="images/table3.png" width=400> <img src="images/table4.png" width=400>

### 3. Moving to 3NF
Ở table `album_library`, Artist Name chỉ phụ thuộc vào Album Name. Ta tách nó ra 1 table. Giờ có 3 tables: `song_library, album_library2, artist_library`

<img src="images/table4.png" width=400> <img src="images/table5.png" width=400> <img src="images/table6.png" width=300>

## Ex 1: Create Normalized Tables
Bắt đầu bằng table `music_store`

<img src="images/table12.png" width=700>

### 1. Moving to 1NF
Ta tách các lists ra các rows riêng, tạo ra table `music_store2`

<img src="images/table13.png" width=700>

### 2. Moving to 2NF
PK ko là unique, ta tách ra 2 tables `transactions` và `album_sold`.

<img src="images/table14.png" width=400> <img src="images/table15.png" width=400>

### 3. Moving to 3NF
Table `transactions` đã là 3NF về lí thuyết, nhưng ta tách nó ra 1 table. Giờ có 3 tables: `album_sold, transactions2, employees`

<img src="images/table15.png" width=400> <img src="images/table16.png" width=400> <img src="images/table17.png" width=300>

## Demo 2: Create Denormalized Tables
Bắt đầu bằng 4 tables: `album_library, song_library, artist_library, song_length`.

<img src="images/table4.png" width=400> <img src="images/table5.png" width=400> <img src="images/table6.png" width=300> <img src="images/table7.png" width=300>

### Query 1: `select artist_name, album_name, year, song_name, song_length FROM <min number of tables>`
Ta thêm Artist Name vào table `album_library` và Song Length vào table `song_library`, tạo ra 2 tables `album_library2` và `song_library2`.

<img src="images/table9.png" width=400> <img src="images/table8.png" width=400>

Giờ chỉ cần 1 join để chạy query trên.

### Query 2: `select album_name SUM(song_length) FROM <min number of tables> GROUP BY album_name`
Ta ko muốn join, nên tạo table `album_length`.

<img src="images/table11.png" width=300>

## Ex 2: Create Denormalized Tables
Bắt đầu bằng 4 tables: `transactions2, albums_sold, employees, sales`.

<img src="images/table16.png" width=400> <img src="images/table15.png" width=400> <img src="images/table17.png" width=300> <img src="images/table18.png" width=300>

###  Query 1: `select transaction_id, customer_name, amount_spent FROM <min number of tables>`
Ta ko muốn join, nên thêm `amount_spent` vào table `transactions`.

<img src="images/table19.png" width=400>

### Query 2: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name`
Ta ko muốn join, nên tạo table `cashier_sales`.

<img src="images/table20.png" width=400>

## Demo 3: Create Fact and Dim Tables
Ta tạo star schema có fact là table `customer_transactions` và 4 dims là 4 tables: `customer, store, items_purchased`.

<img src="images/starSchema.png" width=800>

## Ex 3: Create Fact and Dim Tables
Giống hệt Demo 3, chỉ khác 1 query.